---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;"> <br /> {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <h2> Aims of the workshop</h2>
    <h3> Learn how to use the MHASpread v.0.2.0 package, introduction, and control of FMD </h3>

    <ol>
        <li>Overview of the model outputs and their interpretation.</li>
        <li> MHASpread to simulate FMD countermeasure actions (depopulation, vaccination, and traceability).</li>
        <li>To be exposed to additional transmission models.</li>
      </ol>

      <i class="material-icons">computer </i> 
      <h2> Computer requirements </h2>
      <h3>General, any computer medium to high quality released during the last five years should be able to support R and Rstudio,
         however, there are minimum computer requirements that should be considered:</h3> 
      <ol>
        <li>Intel Core i5 (4 CPUs) 6th generation or above or equivalent AMD X8 @ 4GHZ (8 CPUs) or above.</li>
        <li> Memory: 8GB.</li>
        <li>HDD Space: 65GB.</li>
      </ol>

    
    {{ content }}

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>
    <div>
        <div style="width:35%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Instructors (NCSU)</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:65%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Instructors (PAHO)</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>